---
import Polaroid from "./Polaroid.astro";
import PolaroidText from "./PolaroidText.astro";

interface Props {
  polaroids: Polaroid[];
}

const { polaroids } = Astro.props;
---

<div class="flex flex-col items-center md:grid md:grid-cols-2 gap-4">
  {
    polaroids.map(({ class: className, src, size, label }) => (
      <Polaroid src={src} size={size} class={className}>
        {label ? <PolaroidText text={label.text} class={label.class} /> : null}
      </Polaroid>
    ))
  }
</div>
