---
import Polaroid from "./Polaroid.astro";
import PolaroidText from "./PolaroidText.astro";

interface Props {
  polaroids: Polaroid[];
}

const { polaroids } = Astro.props;
---

<div class="flex flex-col gap-10 items-center md:grid md:grid-cols-2 md:gap-4">
  {
    polaroids.map(({ class: className, src, size, label, date, location }) => (
      <Polaroid
        src={src}
        size={size}
        class={className}
        date={date}
        location={location}
      >
        {label ? (
          <PolaroidText
            text={label.text}
            size={label.size}
            class={label.class}
          />
        ) : null}
      </Polaroid>
    ))
  }
</div>
